/* CSS dla menu */
body{
    background-image: url('../../public/img/bg2.png');
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        margin: 0; 
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ustawienie wyższego indeksu warstwy, aby menu było na wierzchu */
}

.menu-links {
    display: flex;
    margin-right: 200px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.menu-links a {
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
}
.menu-links :hover {
    margin-right: 40px;
    text-decoration: none;
    color: #353434;
}
.logo {
    scale: 80%;
    margin-left: 100px;
}

/* CSS dla sekcji Home */
.home-container {
    position: relative;
    margin-top: 100px; /* Zwiększenie marginesu, aby obraz nie nakrywał menu */
    text-align: left; /* Tekst w sekcji Home jest teraz wyrównany do lewej */
    
}

.home-image {
    width: 683px; /* Ustawienie szerokości obrazu */
    height: 497px; /* Ustawienie wysokości obrazu */
    display: block; /* Ustawienie obrazu jako bloku */
    border-radius: 10px;
    margin-right: 100px;
}
.home-content {
    display: flex;
    align-items: center;
}
.home-text{
    margin-left: 100px;
}
.line-divider {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.header-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 71px;
    color: #000000;
    margin-top: 20px;
    margin-right: 200px;
}

.contact-button {
    width: 288px;
    height: 60px;
    margin-top: 20px;
    background-color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #EEEEEE;
}

/* CSS dla sekcji "O nas" */
.about-section {
    padding: 50px 20px;
    text-align: center;
}

.about-text {
    font-size: 18px;
    line-height: 1.5;
}
.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-item1 {
    width: 400px;
    height: 450px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 20px;
}
.offer-item2 {
    width: 400px;
    height: 375px;
    margin-left: 50px;
    margin-bottom: 125px;
    margin-top: -75px;
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 20px;
}
/* CSS dla stopki */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px; /* Odstęp 50px od elementów nad stopką */
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-text {
    text-align: center;
}
.footer-text a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.bgfilter{
    width: 1920px;
    height: 300px;
    position:absolute;
    right: 0px;
    top: 90px;
    background: rgba(92, 92, 92, 0.1);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.75);
}

.minititle{
    width: 100px;
    height: 25px;
    
}
.bgfilter div {
    display: inline-block; /* Ustawienie divów obok siebie */
    width: 20%; /* Dzielimy szerokość równo na trzy części, aby divy były obok siebie */
    position: relative;
    vertical-align: top; /* Ustawienie początku elementów od góry */
    margin-top: 35px;
    margin-left: 200px;
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    background: #FFC997;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    border-radius: 3px; 
    margin-right: 5px;
}

.stone {
    width: 360px; /* Szerokość każdego diva */
    height: 422px; /* Wysokość każdego diva */
    border: 1px solid #ccc; /* Grubość i styl obramowania */
    margin: 5px; /* Margines wokół diva */
    float: left; /* Ustawienie na lewo, aby były obok siebie */
    box-sizing: border-box; /* Włącz box-sizing, aby marginesy i padding nie zwiększały szerokości */
    margin-top: 50px;
    
}
.stone:nth-child(-n+5) {
    margin-top: 400px;
}
/* Ustawienie czyszczenia floatów co pięć elementów */
.stone:nth-child(5n+1) {
    clear: left;
    margin-left: 30px;
}

.stone:hover {
    transform: scale(1.1);
}

.stone::before, .stone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity 1s ease; 
    pointer-events: none;
    opacity: 0;
}
.stone:last-child {
    margin-bottom: 100px;
}
.stone:hover::before, .stone:hover::after {
    opacity: 1;
}
.stone p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    padding-top: 20px;
    position: relative;
    z-index: 3;
    padding: 10px;
}
.name {
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease;
}

.price {
    top: 67.5%;
    left: 100%;
    margin: 0;
    transform: translate(-100%, -100%); 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Dodanie przejścia dla opacity i transform */
    text-align: right;
    display: inline-block;
}

.stone:hover .name,
.stone:hover .price {
    opacity: 1;
}